<launch>

    <arg name="rgb_camera" default="/camera/color/"/>
    <arg name="rgb_camera_topic" default="$(arg rgb_camera)/image_raw"/>
    <arg name = "rgb_camera_compressed_topic" default="$(arg rgb_camera_topic)/compressed"/>
    <arg name="compressed_input" default="false"/>
    <arg name="compressed_output" default="False"/>

    <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=$(arg rgb_camera_topic) raw out:=/visualization/uncompressed_stream" if="$(arg compressed_input)"/>

    <node pkg="hri_visualization" name="hri_visualization" type="visualization" output="screen">
        <param name="compressed_output" value="$(arg compressed_output)"/>
        <remap from="image" to="$(arg rgb_camera_topic)" unless="$(arg compressed_input)"/>
        <remap from="image" to="/visualization/uncompressed_stream" if="$(arg compressed_input)"/>
    </node>

</launch>
