<launch>

    <arg name="rgb_camera" default="/camera/color/"/>
    <arg name="rgb_camera_topic" default="$(arg rgb_camera)/image_raw"/>
    <arg name="rgb_camera_compressed_topic" default="$(arg rgb_camera_topic)/compressed"/>
    <arg name="compressed_input" default="false"/>
    <arg name="compressed_output" default="false"/>
    <arg name="funny_names" default="false" doc="If true, the visualizer will display a random adjective+pokemon name as a person identifier (e.g., Fiery Bulbasaur). If false, the visualizer will display the ros4hri person identifier (e.g., anonymous_person_abcde)."/>

    <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=$(arg rgb_camera_topic) raw out:=/visualization/uncompressed_stream" if="$(arg compressed_input)"/>

    <node pkg="hri_visualization" name="hri_visualization" type="visualization" output="screen">
        <param name="compressed_output" value="$(arg compressed_output)"/>
        <param name="funny_names" value="$(arg funny_names)"/>
        <remap from="/image" to="$(arg rgb_camera_topic)" unless="$(arg compressed_input)"/>
        <remap from="/image" to="/visualization/uncompressed_stream" if="$(arg compressed_input)"/>
    </node>

</launch>
